
/* Your CSS Code here. */
.holder{
	display: flex;
	flex-direction: fullscreen;
	justify-content:center;
	align-item:center;
	position:center;
	width:100%;
}
.item{
	border:1px solid red;
	color:red;
	padding:10vw;
	border-radius:50%;
	background-color:lightgoldenrodyellow
}
